*Author/s:*
**Djan Miko E. Duero**

Course code and section: DATA100 S17

Student ID: 12271721

College: School of Economics

**Homework**: Zomato Exercise

# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [2]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [17]:
# read and store csv data in python object df
# from csv to dataframe
df1 = pd.read_csv("zomato.csv") # contains the data from zomato.csv (resto information)
df2 = pd.read_csv("location.csv") # contains the data from location.csv (location of resto)
df3 = pd.read_csv("ratings.csv") # contains the data from ratings.csv (aggregate rating)

# merge the files using merge()
merged_df = df1.merge(df2, how = "left").merge(df3, how = "left")
# show the merged dataframe containing all info from the three cvs
merged_df

,id,average_cost_for_two,book_url,cuisines,currency,deeplink,events_url,featured_image,has_online_delivery,has_table_booking,...,country_id,latitude,locality,locality_verbose,longitude,zipcode,aggregate_rating,rating_color,rating_text,votes
0,6316125,1000,NaN,"Japanese, Ramen",P,zomato://restaurant/6316125,https://www.zomato.com/manila/mendokoro-ramenb...,https://b.zmtcdn.com/data/reviews_photos/971/2...,0,0,...,162,14.560313,Salcedo Village,"Salcedo Village, Makati City",121.024638,NaN,4.9,3F7E00,Excellent,1394
1,18409457,1300,NaN,"Korean, Grill, Korean BBQ",P,zomato://restaurant/18409457,https://www.zomato.com/manila/soban-k-town-gri...,https://b.zmtcdn.com/data/res_imagery/18290970...,0,0,...,162,14.552137,"Greenbelt 3, San Lorenzo, Makati City","Greenbelt 3, San Lorenzo, Makati City, Makati ...",121.021325,NaN,4.6,3F7E00,Excellent,602
2,6307689,1600,NaN,"American, Filipino",P,zomato://restaurant/6307689,https://www.zomato.com/manila/filling-station-...,https://b.zmtcdn.com/data/pictures/9/6307689/b...,0,0,...,162,14.563144,Poblacion,"Poblacion, Makati City",121.029800,1210.0,4.0,5BA829,Very Good,563
3,18581637,1000,NaN,Korean,P,zomato://restaurant/18581637,https://www.zomato.com/manila/romantic-baboy-t...,https://b.zmtcdn.com/data/reviews_photos/cc1/a...,0,0,...,162,14.633713,Tomas Morato,"Tomas Morato, Quezon City",121.035026,NaN,4.0,5BA829,Very Good,413
4,6315438,3000,NaN,"Seafood, American, Mediterranean, Japanese",P,zomato://restaurant/6315438,https://www.zomato.com/manila/niu-by-vikings-b...,https://b.zmtcdn.com/data/pictures/chains/8/63...,0,0,...,162,14.546236,"SM Aura Premier, Bonifacio Global City, Taguig...","SM Aura Premier, Bonifacio Global City, Taguig...",121.054365,NaN,4.6,3F7E00,Excellent,960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6825,18635649,1000,NaN,"Deli, Filipino",P,zomato://restaurant/18635649,https://www.zomato.com/manila/trader-juans-fil...,NaN,0,0,...,162,14.422261,"Westgate Center, Filinvest City, Mutinlupa City","Westgate Center, Filinvest City, Mutinlupa Cit...",121.033175,NaN,2.9,FFBA00,Average,6
6826,6318581,400,NaN,Fast Food,P,zomato://restaurant/6318581,https://www.zomato.com/manila/jollibee-north-c...,http://b.zmtcdn.com/data/pictures/chains/0/630...,0,0,...,162,14.756424,"Zabarte Town Center, North Caloocan, Caloocan ...","Zabarte Town Center, North Caloocan, Caloocan ...",121.043329,NaN,3.0,CDD614,Average,5
6827,6318578,450,NaN,"Bakery, Filipino",P,zomato://restaurant/6318578,https://www.zomato.com/manila/goldilocks-north...,https://b.zmtcdn.com/data/res_imagery/6300003_...,0,0,...,162,14.756406,"Zabarte Town Center, North Caloocan, Caloocan ...","Zabarte Town Center, North Caloocan, Caloocan ...",121.043498,NaN,0.0,CBCBC8,Not rated,1
6828,6309612,1000,NaN,"American, Italian",P,zomato://restaurant/6309612,https://www.zomato.com/manila/red-buffalo-wing...,https://b.zmtcdn.com/data/res_imagery/6309612_...,0,0,...,162,14.610628,"Greenhills Town Center, Valencia, Quezon City","Greenhills Town Center, Valencia, Quezon City ...",121.037031,NaN,3.7,9ACD32,Good,96
6829,6318582,600,NaN,"Pizza, Fast Food",P,zomato://restaurant/6318582,https://www.zomato.com/manila/greenwich-north-...,https://b.zmtcdn.com/data/pictures/chains/2/63...,0,0,...,162,14.756382,"Zabarte Town Center, North Caloocan, Caloocan ...","Zabarte Town Center, North Caloocan, Caloocan ...",121.043452,NaN,0.0,CBCBC8,Not rated,2

**References**

https://www.youtube.com/watch?v=TPivN7tpdwc&list=PLUaB-1hjhk8GZOuylZqLz-Qt9RIdZZMBE&index=5
- introduction to pandas, merging dataframes

https://www.w3schools.com/python/pandas/ref_df_merge.asp
- contains information on merge()

https://drive.google.com/file/d/1fUtKSlW4ZmxsQgRMNFNgaz9FzSpfBI3q/view
- lecture on pandas, used mainly to read csv in python

In [16]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [21]:
# create a function that willshow the avg aggregate rating for each city
def exercise_2(merged_df):
    # calculates the average aggregate rating for each city
    # the data is grouped by city then averages the agg rating that corresponds to that city
    avg_aggr_rating = merged_df.groupby("city")["aggregate_rating"].mean() 
    # shows the average rating 
    return avg_aggr_rating

# running the function
exercise_2(merged_df)

city
Caloocan City       1.953509
Las Piñas City      2.855738
Makati City         3.250512
Malabon City        1.558333
Mandaluyong City    2.951919
Manila              2.842652
Marikina City       2.672512
Muntinlupa City     2.962682
Parañaque City      3.130100
Pasay City          3.302075
Pasig City          2.916086
Pateros City        1.740000
Quezon City         2.887946
San Juan City       3.098462
Tagaytay City       2.959259
Taguig City         3.234105
Valenzuela City     1.890741
Name: aggregate_rating, dtype: float64

**References**

https://drive.google.com/file/d/1fUtKSlW4ZmxsQgRMNFNgaz9FzSpfBI3q/view
- lecture on pandas, specifically on aggregator methods

In [22]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [52]:
# function that converts rating_text to rating_numeric
def converter(rating_text):
    # dictionary containing the respective value for each key
    rating_dictionary = {
        "Excellent" : 5,
        "Very Good" : 4,
        "Good" : 3,
        "Average" : 2,
        "Poor" : 1,
        "Not rated" : 0
    }
    # the value will be based on the key on rating_text
    return rating_dictionary.get(rating_text)

# creating a new column containing the values of rating_numeric
merged_df["rating_numeric"] = merged_df["rating_text"].apply(converter) # apply function is used to conver rating_text
# to show the new column created
merged_df["rating_numeric"]

0       5
1       5
2       4
3       4
4       5
       ..
6825    2
6826    2
6827    0
6828    3
6829    0
Name: rating_numeric, Length: 6830, dtype: int64

**References**

https://drive.google.com/file/d/1fUtKSlW4ZmxsQgRMNFNgaz9FzSpfBI3q/view
- lecture on pandas

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html
- reference on using the apply() function

In [51]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [58]:
# function that filters the merged_df to show only the rows of a specific city
def exercise_4(merged_df, city):
    # the df will be filtered based on whether the city input can be found in the dataframe under "city"
    filter_mdf = merged_df[merged_df["city"] == city]
    # show filtered merged_df
    return filter_mdf

In [59]:
assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

**References**

https://drive.google.com/file/d/1K7ksJHJ0rGoBsKw0MEoJ0uVQN0-1ZYDD/view
- lecture on conditions

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [60]:
# function that filters the merged_df based on the specific column inputs
def exercise_5(merged_df, cols_to_filter):
    # merged_df will only contain the specified column
    filter_mdf = merged_df[cols_to_filter]
    # shows filtered mdf
    return filter_mdf

In [61]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

**Starbucks with a count of 99**

In [106]:
# group the data according to name
# get the total count per name
# sort the count descending to get the highest count
most_common_name = merged_df.groupby("name").size().sort_values(ascending = False)

# show result
print(most_common_name)

name
Starbucks                         99
Jollibee                          77
McDonald's                        66
KFC                               54
BonChon Chicken                   49
                                  ..
HotBox Kitchen                     1
Hotel Bar                          1
Hotties Gourmet                    1
House Manila - Remington Hotel     1
¡VENGO!                            1
Length: 3286, dtype: int64

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

**The Tasting Room costing 10 000**

In [108]:
# sort the dataframe by the average cost for two
most_expensive_average_cost = merged_df.sort_values(by = "average_cost_for_two", ascending=False).iloc[0] # ascending = false to get the highest value

# store the name of resto with the most expensive cost
restaurant_name = most_expensive_average_cost["name"]
# store the value of the most expensive resto
average_cost = most_expensive_average_cost["average_cost_for_two"]

# show the results
print(restaurant_name)
print(average_cost)

The Tasting Room
10000

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

**6,713 Restaurants**

In [107]:
# get the sum with NA values in zipcode 
num_no_zipcode = merged_df["zipcode"].isna().sum()

# show results
print(num_no_zipcode)

6713

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

**0 Restaurants**

In [113]:
resto_w_oldeliv = merged_df[merged_df["has_online_delivery"] == 1].shape[0]

print(resto_w_oldeliv)

0

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

**Salcedo Village has more expensive food with an average cost of 989.10**

In [114]:
# sort the costs for Poblacion and Salcedo Village
poblacion_food_cost = merged_df[merged_df["locality"] == "Poblacion"]["average_cost_for_two"].mean()
salcedo_food_cost = merged_df[merged_df["locality"] == "Salcedo Village"]["average_cost_for_two"].mean()

# set the conditions 
if poblacion_food_cost > salcedo_food_cost: # shows that food in poblacion is more expensive
    more_expensive_food = 'Poblacion'
    more_expensive_food_cost = poblacion_food_cost
    print(more_expensive_food)
    print(more_expensive_food_cost)
else: # shows that salcedo village is more expensive
    more_expensive_food = 'Salcedo Village'
    more_expensive_food_cost = salcedo_food_cost
    print(more_expensive_food)
    print(more_expensive_food_cost)

Salcedo Village
989.1025641025641